---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import ArticleCard from "../../components/ArticleCard.astro";
import Pagination from "../../components/Pagination.astro";
import SearchForm from "../../components/SearchForm.astro";
import { ARTICLES_PER_PAGE } from "../../constants";
import MainLayout from "../../layouts/MainLayout.astro";

const currentPage: number | null = +Astro.url.searchParams.get("page")! || 1;

const allBlogArticles = (await getCollection("blog")).sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const totalPages: number = Math.ceil(
  allBlogArticles.length / ARTICLES_PER_PAGE,
);

const articlesForPage: CollectionEntry<"blog">[] = allBlogArticles.slice(
  (currentPage - 1) * ARTICLES_PER_PAGE,
  currentPage * ARTICLES_PER_PAGE,
);
---

<MainLayout>
  <h1 class="text-2xl pb-3">All Articles</h1>
  <SearchForm />
  <!-- Main Grid -->
  <section class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    <!-- Article Card -->
    {articlesForPage.map((article) => <ArticleCard article={article} />)}
  </section>
  <!-- Pagination -->
  <Pagination
    currentPage={currentPage}
    totalPages={totalPages}
    disablePrevious={currentPage === 1}
    disableNext={currentPage === totalPages}
  />
</MainLayout>
