---
import { Feedback, db } from "astro:db";

import PostCard from "@components/PostCard.astro";
import MainLayout from "@layouts/MainLayout.astro";

let processing = false;
if (Astro.request.method === "POST") {
  try {
    processing = true;
    const formData = await Astro.request.formData();
    const author = formData.get("author");
    const body = formData.get("content");

    if (typeof author === "string" && typeof body === "string") {
      // insert form data into the Feedback table
      await db.insert(Feedback).values({ author, body });
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  } finally {
    processing = false;
  }
}

const feedback = await db.select().from(Feedback);

// Using feedback.json API
// const request = await fetch("http://localhost:4321/api/feedback.json");
// const { feedback } = await request.json();
---

<MainLayout title="Feedback">
  <h1 class="text-3xl font-bold mb-5">Feedback from our beloved Community</h1>
  <section class="flex flex-col flex-wrap gap-5 h-full w-full">
    {
      feedback.map(({ author, body, postedDate }) => (
        <PostCard author={author} body={body} postedDate={postedDate} />
      ))
    }
    <!-- <FeedbackForm /> -->
    <section class="w-3/4 border-2 border-solid mt-2 rounded-md">
      <h2 class="ml-2 mt-2 text-sm text-slate-500">
        Contribute with some feedback
      </h2>
      <form method="POST" class="flex flex-col ml-1 w-1/2">
        <input
          class="mt-2 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"
          id="author"
          placeholder="Add your name..."
          name="author"
        />
        <textarea
          class="mt-2 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"
          id="content"
          name="content"
          placeholder="Add some content..."></textarea>

        <button
          class="w-56 justify-center mt-2 mb-2 inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm shadow rounded-md text-white bg-indigo-600 hover:bg-indigo-900"
          type="submit"
          disabled={processing}>Submit</button
        >
      </form>
    </section>
  </section>
</MainLayout>
