---
import { formatDate } from "@lib/utils";

type Props = {
  author: string;
  body: string;
  postedDate: Date;
};

const { author, body, postedDate } = Astro.props;
---

<article class="border-2 border-solid rounded-lg w-3/4 h-20">
  <section class="ml-2">
    <p class="text-xs text-slate-500">
      Posted by: <strong>{author}</strong> on
      <strong>{formatDate(postedDate)}</strong>
    </p>
    <p class="mt-4 text-slate-700">{body}</p>
  </section>
</article>
